<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Productos disponibles</h1>

    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre_producto }}</td>
                <td>S/. {{ producto.precio_producto }}</td>
                <td>{{ producto.categoria.nombre_categoria }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
